.table-page {
  background-color: var(--bg-color);
  width: 100%;
  height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meal-table {
  margin-top: 1rem;
  width: 80%;
  border-collapse: collapse;
  background-color: var(--header-bg);
  color: var(--text-color);
  border-radius: 8px;
  overflow: hidden; /* rounds corners of table background */
}

.meal-table th,
.meal-table td {
  border-bottom: 1px solid #ccc;
  padding: 10px 15px;
  text-align: left;
}

.meal-table th {
  background-color: var(--button-bg);
  user-select: none;
  font-weight: 600;
}

.meal-table td {
  background-color: var(--header-bg);
}

.delete-button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
}

/* Pagination */
.pagination-controls {
  display: flex;
  justify-content: center; /* center the buttons */
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.pagination-button {
  padding: 0.5rem 0.75rem;
  border: 1px solid var(--button-bg);
  background-color: var(--button-bg);
  color: var(--button-text);
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s;
  user-select: none;
}

.pagination-button:hover:enabled {
  background-color: var(--button-hover);
}

.pagination-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-info {
  margin: 0 10px;
  font-weight: 500;
  color: var(--text-color);
}
