
/* LANDING PAGE */

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 92vh;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 2rem;
  gap: 1rem;
  
}

.landing-container h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

.landing-container h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.landing-container h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

.cta-button {
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1rem;
  transition: background-color 0.2s;
}

.cta-button:hover {
  background-color: var(--button-hover);
}

/* DASHBOARD PAGE */

.dashboard-page {
  background-color: #fafafa;
  color: var(--text-color);
}

.dashboard-welcome {
  text-align: center;
  margin-top: 0.1rem;
  font-size: 2rem;
  font-weight: 500;
  padding-top: 2rem;
}